.u-section-1 .u-sheet-1 {
  min-height: 872px;
}

.u-section-1 .u-group-1 {
  min-height: 508px;
  width: 533px;
  margin: 53px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 108px 29px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 557px;
  height: 523px;
  background-image: linear-gradient(45deg, #f1c50e, #478ac9);
  margin: -252px auto 0 50px;
}

.u-section-1 .u-image-1 {
  width: 557px;
  height: 629px;
  object-position: 100% 21.39%;
  background-position: 100% 21.39%;
  margin: -725px auto 0 -2px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 846px;
  margin: -168px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 216px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 216px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 48px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 7px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 216px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px;
}

.u-section-1 .u-layout-cell-4 {
  background-image: none;
  min-height: 216px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 610px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -149px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 384px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 77px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 906px;
  margin: 61px 117px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 140px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 0 0 12px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 12px -80px 181px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 140px;
}

.u-section-2 .u-line-1 {
  width: 141px;
  margin: 15px auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 169px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 108px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 48px 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -92px auto 0 109px;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -64px auto 0 340px;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -64px 401px 60px auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 747px;
    margin-top: 58px;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-2 .u-line-1 {
    width: 114px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 140px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 23px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-left: 0;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 82px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 27px;
  }

  .u-section-2 .u-line-1 {
    width: 114px;
    transform-origin: 50% 50%;
    margin: 5px auto 5px 9px;
  }

  .u-section-2 .u-btn-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 79px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 43px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1040px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 185px;
  margin: 26px auto 0 278px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 10px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 35px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 367px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-1 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 35px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 33px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-link-1 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 42px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 367px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-icon-2 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 35px auto 0 10px;
}

.u-section-3 .u-text-4 {
  margin: 33px 10px 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-link-2 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 10px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/dfv.jpg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  min-height: 352px;
  background-image: url("images/d.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-3 .u-image-3 {
  min-height: 719px;
  background-image: url("images/b7040d72be0edade2d96c5faa0198690.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-3 .u-group-1 {
    width: 638px;
    min-height: 138px;
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 93px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-1 {
    height: 60px;
    width: 60px;
    margin-top: 28px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-top: 29px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-link-1 {
    position: relative;
    margin-bottom: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-2 {
    height: 60px;
    width: 60px;
    margin-top: 28px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-link-2 {
    position: relative;
    margin-bottom: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 342px;
  }

  .u-section-3 .u-image-2 {
    min-height: 342px;
  }

  .u-section-3 .u-image-3 {
    min-height: 681px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2136px;
  }

  .u-section-3 .u-group-1 {
    width: 571px;
    min-height: 124px;
    margin-top: 91px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 76px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin-top: 35px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 34px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: 35px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 33px;
  }

  .u-section-3 .u-link-2 {
    margin-bottom: 34px;
  }

  .u-section-3 .u-image-1 {
    min-height: 474px;
  }

  .u-section-3 .u-image-2 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 904px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2361px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 56px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 354px;
    z-index: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-link-1 {
    margin-left: auto;
    margin-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 354px;
    z-index: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-link-2 {
    margin-left: auto;
    margin-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 359px;
    z-index: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 354px;
    z-index: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-image-3 {
    min-height: 661px;
    z-index: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2213px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 27px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-link-2 {
    margin-bottom: 27px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 517px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 662px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 185px;
  margin: 31px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 55px 0 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 44px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 43px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 43px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 43px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 43px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 43px auto 0;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 43px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  background-position: 0% 0%;
  min-height: 347px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 43px auto 0;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  font-weight: 500;
  width: 203px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  width: 203px;
  margin: 31px auto 43px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 470px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
    margin-top: 35px;
  }

  .u-section-4 .u-text-2 {
    width: 167px;
  }

  .u-section-4 .u-text-3 {
    width: 167px;
    margin-bottom: 35px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
    margin-top: 35px;
  }

  .u-section-4 .u-text-4 {
    width: 167px;
  }

  .u-section-4 .u-text-5 {
    width: 167px;
    margin-bottom: 35px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
    margin-top: 35px;
  }

  .u-section-4 .u-text-6 {
    width: 167px;
  }

  .u-section-4 .u-text-7 {
    width: 167px;
    margin-bottom: 35px;
  }

  .u-section-4 .u-icon-4 {
    height: 53px;
    width: 53px;
    position: relative;
    margin-top: 35px;
  }

  .u-section-4 .u-text-8 {
    width: 167px;
  }

  .u-section-4 .u-text-9 {
    width: 167px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-4 .u-icon-1 {
    height: 72px;
    width: 72px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-2 {
    width: 128px;
  }

  .u-section-4 .u-text-3 {
    width: 321px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-icon-2 {
    height: 65px;
    width: 65px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 66px;
    width: 66px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-6 {
    width: 321px;
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-7 {
    width: 321px;
    margin-top: 32px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-4 .u-icon-4 {
    height: 65px;
    width: 65px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-8 {
    width: 321px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-9 {
    width: 321px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-4 .u-icon-1 {
    height: 69px;
    width: 69px;
    margin-top: 35px;
  }

  .u-section-4 .u-text-2 {
    width: 430px;
  }

  .u-section-4 .u-text-3 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 63px;
    width: 63px;
    margin-top: 35px;
  }

  .u-section-4 .u-text-4 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 400px;
  }

  .u-section-4 .u-icon-3 {
    height: 63px;
    width: 63px;
    margin-top: 35px;
  }

  .u-section-4 .u-text-6 {
    width: 430px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    width: 430px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 400px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 35px;
  }

  .u-section-4 .u-text-8 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-9 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-4 .u-icon-1 {
    height: 57px;
    width: 57px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-2 {
    width: 101px;
  }

  .u-section-4 .u-text-3 {
    width: 253px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-icon-2 {
    height: 51px;
    width: 51px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 4px;
    margin-right: 4px;
    width: NaNpx;
  }

  .u-section-4 .u-text-5 {
    margin-left: 4px;
    margin-right: 4px;
    width: NaNpx;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-4 .u-icon-3 {
    height: 52px;
    width: 52px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
    width: 253px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 32px;
    margin-left: 4px;
    margin-right: 4px;
    width: 253px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-4 .u-icon-4 {
    height: 51px;
    width: 51px;
    margin-top: 52px;
  }

  .u-section-4 .u-text-8 {
    width: 253px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-9 {
    width: 253px;
    margin-left: 4px;
    margin-right: 4px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 355px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 63px auto 63px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 32px 30px 25px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 32px 30px 25px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 29px 30px 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 54px;
    width: 54px;
    position: relative;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-icon-2 {
    height: 54px;
    width: 54px;
    margin-left: 115px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-icon-3 {
    height: 54px;
    width: 54px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 57px;
    width: 57px;
    margin-top: 46px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 57px;
    width: 57px;
    margin-top: 46px;
    margin-left: 66px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-3 {
    height: 57px;
    width: 57px;
    margin-top: 46px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 32px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 56px;
    width: 56px;
    margin-top: 25px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-icon-2 {
    height: 56px;
    width: 56px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-icon-3 {
    height: 56px;
    width: 56px;
    margin-top: 25px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 29px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-icon-1 {
    height: 55px;
    width: 55px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-icon-3 {
    height: 54px;
    width: 54px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 32px;
    margin-left: 9px;
    margin-right: 9px;
  }
}